{% extends "header.html" %}
{% block content %}
{% load staticfiles %}
<header id="jumbo" class="jumbotron">
  <div class="container text-center">
  <h1 id="jumbotitle"><img id="tjhtop" src="{% static 'developer/img/TJHName.png' %}" /></h1>
  <h2 id="jumbosub">A developing Man</h2>
  <p>Web Developer working with python, django, javascript, wordpress, html5 and css3.</p>
  </div>
</header>
<section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 style="text-align: center">Websites, python apps, clever ideas</h2>
            <p class="lead">
              I'm a self taught developer working in a variety of languages to build unique, creative web apps and
              tidy, intuitive websites.
            </p>
            <p>
                I began learning to code as a Music Tech student to equip myself with the tools to work on audio projects. Since then I've expanded to
                song-apps with Django, building databases using routine python tasks, and smart wordpress portfolio sites.
            </p>
            <p> My goal is to work on tools that challenge the control of collective cultural experience
              reserved for digital monopolies, and work on ideas that steer digital utilities away from for-profit structures.
              But for now, I'm just building good websites.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="services" class="bg-light project">

    {% for project in projects %}

          <div class="container project">

            <div class="row">
              <div class="col-lg-8 mx-auto">

                <div class="screenshots">
                  <div class="projects-arrows">
                  {% if not forloop.first %}
                    <span style="float:left" class="previous-project nav-item">
                      <i class="fa fa-arrow-circle-o-up"></i>
                    </span>
                  {% endif %}
                  {% if not forloop.last %}
                    <span style="float:right" class="next-project nav-item">
                      <i class="fa fa-arrow-circle-o-down"></i>
                    </span>
                  {% endif %}
                  </div>
                  <img class="desktop-screenshot" src="{{ project.desktop_screenshot.url }}">
                  <img class="mobile-screenshot" src="{{ project.mobile_screenshot.url }}">
                </div>
                <a href="{% url 'developer:project' project.id %}"><h2 class="project-title">{{ project.name }}</h2></a>
                <p class="lead">{{ project.brief }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 mx-auto">
              <nav class="project-nav nav navbar-default">
              </nav>
              </div>
            </div>
          </div>

      {% endfor %}
      </section>

        <section id="contact">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <p class="text-center"> Contact </p>
                <p class="lead text-center"> <a href="mailto:thomasjohnhall@gmail.com">thomasjohnhall@gmail.com</a> </p>
                <p class="lead text-center">  Github: <a href="http://github.com/saxonhouse">github.com/saxonhouse</a> </p>
              </div>
            </div>
          </div>
        </section>

        <!-- Footer -->

  {% endblock %}
