{% extends "header.html" %}
{% block content %}
{% load staticfiles %}
<header id="jumbo" class="jumbotron">
  <div class="container text-center">
  <h1 id="jumbotitle">Tom John Hall </h1>
  <h2 id="jumbosub">A developing Man</h2>
  <p>Web Developer working with python, django, javascript, wordpress, html5 and css3.</p>
  </div>
</header>
<section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 style="text-align: center">Websites, python apps, clever nonsense</h2>
            <p class="lead">
              I'm a self taught developer working in a variety of languages to build unique, creative web apps and
              tidy, intuitive websites.
            </p>
            <p>
                As a Music Tech student I wanted to equip myself with the tools to build a fairer music streaming service. Since then I've expanded to
                song-apps with Django, web crawling and data composition using routine python tasks, and intelligent wordpress portfolio sites.
            </p>
            <p> I'm particularly interested in tools that challenge the control of collective cultural experience
              reserved for digital monopolies, and working on ideas that steer digital utilities away from for-profit structures.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="services" class="bg-light project">

    {% for project in projects %}

          <div class="container project">

            <div class="row">
              <div class="col-lg-8 mx-auto">

                <div class="screenshots">
                  <img class="desktop-screenshot" src="{{ project.desktop_screenshot.url }}">
                  <img class="mobile-screenshot" src="{{ project.mobile_screenshot.url }}">
                </div>
                <a href="{% url 'developer:project' project.id %}"><h2>{{ project.name }}</h2></a>
                <p class="lead">{{ project.brief }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 mx-auto">
              <nav class="project-nav nav navbar-default">
                <div class="container-fluid">
                  <ul class="nav navbar-nav navbar-right">
                  {% if not forloop.first %}
                    <li class="previous-project nav-item">Previous</p>
                  {% endif %}
                  {% if not forloop.last %}
                    <li class="next-project nav-item">Next</p>
                  </ul>
                  {% endif %}
                </div>
              </nav>
              </div>
            </div>
          </div>

      {% endfor %}
      </section>

        <section id="contact">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">

                <p class="text-center"> Contact </p>
                <p class="lead text-center"> Email: <a href="mailto:thomasjohnhall@gmail.com">thomasjohnhall@gmail.com</a> </p>
                <p class="lead text-center"> Github: <a href="http://github.com/saxonhouse">github.com/saxonhouse</a> </p>

              </div>
            </div>
          </div>
        </section>

        <!-- Footer -->

  {% endblock %}
