{% extends "header.html" %}
{% block content %}
{% load staticfiles %}
<div style="margin-top:54px;">
</div>
<nav class="nav navbar navbar-default" id="project-bar">
  <div class="container">
    <div style="width:100%">
    {% if prev_project %}
    <div class="previous">
    <a class="project-link" href="{% url 'developer:project' prev_project %}">
      <i class="fa fa-arrow-left" aria-hidden="true"></i> Previous</a>
    </div>
    {% endif %}
    {% if next_project %}
    <div class="next">
      <a class="project-link" href="{% url 'developer:project' next_project %}">
        Next <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
    {% endif %}
  </div>
</div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="screenshots">
        <img class="desktop-screenshot" src="{{ project.desktop_screenshot.url }}">
        <img class="mobile-screenshot" src="{{ project.mobile_screenshot.url }}">
      </div>
      <a href="{{ project.url }}"><h2>{{ project.name }}</h2> <span class="glyphicon glyphicon-new-window"></span> <span class="visit-site">visit site</span></a>
      <p class="lead">{{ project.brief }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-xs-4">
      <h3>Clever Bits:</h3>
    </div>
    <div class="col-lg-10 col-xs-8">
      <p> {{ project.cleverbits }} </p>
    </div>
  </div>
  <div class="row" style="margin-bottom: 50px;">
    <div class="col-lg-2">
      <h3>The rest:</h3>
    </div>
    <div class="col-lg-10">
      <p> {{ project.description }} </p>
    </div>
  </div>
</div>

{% endblock %}
