

.page {height: 100%; width: 7.14% ; opacity: 0; position: fixed; top: 0px;}
#a1 {left: 0%; }
#a2 {left: 7.14%; }
#a3 {left: 14.2%; }
#a4 {left: 21.3%; }
#a5 {left: 28.4%; }
#a6 {left: 35.5%; }
#a7 {left: 42.6%; }
#a8 {left: 49.7%; }
#a9 {left: 56.8%; }
#a10 {left: 63.9%; }
#a11 {left: 78.1%; }
#a12 {left: 85.2%; }
#a13 {left: 92.3%; }
#a14 {left: 97%}
