header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 100px 0;
}

.previous {
  display: inline-block;
  width: 50%;
}

.next {
  display: inline-block;
  float: right;
  text-align: right;
  width: 50%;
}

.footer {
  background-color: rgba(210, 226, 221, 0.86);
}


.projects-arrows {
  display: none;
}

@media (min-width: 768px) {
.projects-arrows {
  width: 40px;
  position: absolute;
  top : 25px;
  right: 45px;
}

.next-project, .previous-project {
  opacity: 0.3;
  color: #505050;
}

.next-project:hover, .previous-project:hover {
  opacity: 0.9
}
}

#jumbo {
background: #8e9cb5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #bdcada, #eaeef5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #bdcada, #eaeef5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-top: 55px;
padding-left: 20px;
color: #4f4d4d;

}

#jumbotitle {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  height:
}

#jumbosub {
  font-family: 'Amatic SC', cursive;
  font-size: 55px;
}

#mainNav {
  background-color: rgba(149, 195, 214, 0.69);
}

#services {
  padding-top: 10px;
}

.screenhosts {
  width: 100%;
}

.desktop-screenshot {
  width: 90%;
}

.mobile-screenshot {
  width: 50%;
  position: absolute;
  top: 10%;
  right: -9%;
}

#services {
  padding-top: 0px;
}

#project-bar {
    background-color: rgba(70, 207, 162, 0.19);
}

#contact {
  padding: 30px;
}
