/* General elements */

html {
  overflow-x: hidden;
}

html, body {
  -webkit-transition: background 2s; /* Safari */
  transition: background 2s;
}

html, body, .container-fluid {
  height: 100%;
}

#thing-wrapper {
  height: 100%;
}

.big-row {
  height: 50%;
}

.big-col {
  height: 100%
}

.little-row {
  height: 50%;
  padding-left: 10px;
  padding-right: 5px;
}

.grid-box, #map {
  height: 100%;
}

.grid-box {
   overflow: auto;

}

.guilt-col {

}



span {

 }

h1 {
  margin-top: 1px; padding-top: 1px;
}


/* HEADER */

#header {
  height: 10%; border-bottom: 3px solid rgba(218, 216, 216, 0.27);
  background: rgba(255, 255, 255, 0.22); padding-bottom: 3px; margin-bottom: 3px;
}

.player-wrap {
  height: 100%;
}


.player-wrap, .menu-button, .mute-button, .pause-button, .auto-button {
  vertical-align: middle;
}

.blank-button {
  width: 100%; height: 100%;
}

.full-height {
  height: 100%;
}

.menu-button, .mute-button, .pause-button, .auto-button {
   height: 100%;
}

.menu-button {

}


#menu-button-icon, .pause-image, .play-image, #mute, #auto-icon {
  max-height: 100%; display: block; margin-left: auto; margin-right: auto;
}

.play-image {
  display: none;
}

#tomjohnhall {
   vertical-align: inherit; position: absolute; max-height: 90%; max-width: 100%; top: 0px; z-index: 0; margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
}

#mute, #auto, #menu-button-icon, .pause-button {
  opacity: 0.7;
}

#mute:hover {
  opacity: 1;
}

#auto:hover {
  opacity: 1;
}

#menu-button-icon:hover {
  opacity: 1
}

.pause-button:hover {
  opacity: 1;
}

/* PLAYER */

.player {
  width: 100%; height: 100%; width: 0; background-color: #ffffff; opacity: 0.3
}

#draggySong {
  height: 100%; width: 1em; background-color: #000000; opacity: 0.4; position: absolute; z-index: 2;
}


/* SPLASH PAGE / PAUSE OVERLAY */

#splash {

}



.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(228, 214, 23);
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: width 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    position: relative;
    top: 14%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}



.overlay h1 {
  font-weight: 300;
  font-size: 28px;
  color: rgb(74, 74, 74);

}

.overlay p {
    color: rgb(80, 80, 80);
    font-size: 16px;
    font-style: italic;
}

.splash-menu-button {
  height: 5em;

}

#tomjohnhallsplash {
  width: 20em;
}

#just-play {
  width: 6em;
  margin-top: 2em;
}

#just-play:hover {
  opacity: 0.7;
}



/* Transaction elements */

#top-mid {
  background: repeating-linear-gradient(
  45deg,
  rgba(255, 255, 255, 0.19),
  rgba(255, 255, 255, 0.19) 10px,
  transparent 10px,
  transparent 20px
  );
}

#top-right {
  background: repeating-linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.19),
  rgba(255, 255, 255, 0.19) 10px,
  transparent 10px,
  transparent 20px
  );
}

.nano-content {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

}

.transaction-title {
font-family: 'Raleway', sans-serif;
font-size: 32px;
font-weight: 800;
text-align: center;
margin-top: 0;
padding-top: 0;
}

.item {
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}


.shop {
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  font-style: italic;
  text-align: right;
}

.price {
  font-family: 'Fascinate Inline', cursive;
  font-size: 50px;
  text-align: right;
}

.date {
  font-family: 'Hind', sans-serif; font-size: 26px;
  text-align: right;
}

#price-date {
  position: absolute;
  bottom: 0px;
  right: 0px;
}


.image {
 width: 100%; height: 100%; overflow: visible;
}

.transaction_image {
   max-width: 100%;
}

.notes {
  font-family: 'Space Mono', monospace;
}

#map-container {
  height: 100%;
  width: 100%;
}

#map {

  opacity: 1;
 }


/* GUILTFEED */

#guiltfeed-container {
  overflow: scroll;
  background: repeating-linear-gradient(
  130deg,
  rgba(255, 255, 255, 0.19),
  rgba(255, 255, 255, 0.19) 10px,
  transparent 10px,
  transparent 20px
  );

}

#guiltfeed {

}

.guilt-item {
  height: 5em; width: 100%;
}

.guilt-item a {

}

.guilt-img-container {
 height: 100%; width: 50%; float: left; overflow: hidden;
}

.guilt-img {
 width: 100%; margin-top: -3em;
}

.guilt-title {
  width: 50%; float: right;
  font-size: 14px;
  font-style: italic;
  color: rgb(4, 21, 45);
}

.guilt-description {
 font-size: 10px; opacity: 0.9; display: none;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 10px;

  text-align: right;
}



#credits {
  display: none;
  background: rgb(255, 255, 255);
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#credits-hover {
  position: absolute;
  bottom: 0px;
  right: 0px;
}


/* DESKTOP */
@media screen and (min-width: 768px) {
  .big-col {
    height: 100%;
  }
  .guilt-col {

  }
  .little-row {
    height: 47%;
  }
  .tiny-row {
    height: 2%;
  }
  #top-right {
    background: none;
  }
  #bottom-right {
    background: repeating-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.19),
    rgba(255, 255, 255, 0.19) 10px,
    transparent 10px,
    transparent 20px
    );
  }
  .transaction-title {
    margin-top: 20px;
    padding-top: 20px;
  }

  .guilt-item {
    height: 8em; width: 100%;
  }
  #guiltfeed-container {
    overflow: scroll;

  }

  .guilt-item a {

  }

  .guilt-img-container {
   height: 50%; width: 100%; overflow: hidden;
  }

  .guilt-img {
   width: 100%; margin-top: -3em;
  }

  .guilt-title {
    width: 100%;
  }

  .transaction_image {
    max-width: 99%; max-height: 99%;
  }



}
