/* General elements */

body {
  background-color: #e9e7e7 !important;
  min-height: 100%;

}

#thing-wrapper {
  height: 100%;
}



span {

 }

h1 {
  margin-top: 1px; padding-top: 1px;
}


/* HEADER */

#header {
  height: 4.5em; border-bottom: 3px solid rgba(218, 216, 216, 0.27);
  padding-bottom: 3px; margin-bottom: 3px;
  background-color: rgba(204, 204, 204, 0.38);
}

.player-wrap {
  height: 100%;
}


.player-wrap, .menu-button, .mute-button, .pause-button, .auto-button {
  vertical-align: middle;
}

.blank-button {
  width: 100%; height: 100%;
}

.full-height {
  height: 100%;
}

.menu-button, .mute-button, .pause-button, .auto-button {
   height: 100%;
}

.menu-button {

}


#menu-button-icon, .pause-image, .play-image, #mute, #auto-icon {
  max-height: 100%; max-width: 100%; display: block; margin-left: auto; margin-right: auto;
}

.play-image {
  display: none;
}

#tomjohnhall {
   vertical-align: inherit; position: absolute; max-height: 90%; max-width: 100%; top: 0px; z-index: 0; margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
}

#mute, #auto, #menu-button-icon, .pause-button {
  opacity: 0.7;
}

#mute:hover {
  opacity: 1;
}

#auto:hover {
  opacity: 1;
}

#menu-button-icon:hover {
  opacity: 1
}

.pause-button:hover {
  opacity: 1;
}

/* PLAYER */

.player {
  width: 100%; height: 100%; width: 0; background-color: #ffffff; opacity: 0.3
}

#draggySong {
  height: 100%; width: 1em; background-color: #000000; opacity: 0.4; position: absolute; z-index: 2;
}


/* SPLASH PAGE / PAUSE OVERLAY */

#splash {

}



.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(228, 214, 23);
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: width 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    position: relative;
    top: 14%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}



.overlay h1 {
  font-weight: 300;
  font-size: 28px;
  color: rgb(74, 74, 74);

}

.overlay p {
    color: rgb(80, 80, 80);
    font-size: 16px;
    font-style: italic;
}

.splash-menu-button {
  height: 5em;

}

#tomjohnhallsplash {
  width: 20em;
}

#just-play {
  width: 6em;
  margin-top: 2em;
}

#just-play:hover {
  opacity: 0.7;
}

#main-container {
  max-width: 900px;
}



/* Transaction elements */

.transaction {
  clear: both;
  margin-bottom: 2em;
  border-bottom: 3px solid rgba(173, 170, 242, 0.67);
  font-size: 16px;
}

.transaction-receipt {
  max-width: 500px;
  margin: auto;
}

.transaction-shop {
  font-weight: 800;
  font-size: 20px;
  margin: 0px;
}

.transaction-dashed {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  overflow: hidden;
}

.transaction-operator {
  width: 50%;
  float:left;
}

.transaction-id {
  width: 50%;
  float: right;
}

.transaction-date {
  text-align: right;
}

.transaction-list {
  overflow: hidden;
}

.transaction-item {
  float: left;
}

.transaction-price {
  float: right;
}

.transaction-total {
  clear: both;
  float: right;
  font-weight: 800;
}

.transaction-card {
  text-align: left;
}

.transaction-receipt {
  border-top: 1px dotted #7c7c7a;
  border-bottom: 1px dotted #7c7c7a;
  margin-bottom: 15px;
}

/* Margins for bigger screens */
@media(min-width:768px){
  .transaction-card, .transaction-item {
    padding-left: 50px;
  }
  .transaction-price, .transaction-total, .tranasction-date {
    padding-right: 100px;
  }
}




#map-container {
  height: 100%;
  width: 100%;
}

#map {
  opacity: 1;
 }


/* GUILTFEED */

#guiltfeed-container {

}

#guiltfeed {

}

.guilt-item {

}

.guilt-item a {

}

.guilt-img-container {
  width: 100%; overflow: hidden; height: 5em;
}

.guilt-img {
 width: 100%; margin-top: -3em;
}

.guilt-title {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  font-size: 13px;
  color: #224c85;
  text-align: left;
  padding-left: 15px;
}

.guilt-description {
 font-size: 10px; opacity: 0.9; display: none;
}

/* MAP */

#map-wrap {
  display: none;
}



.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 10px;

  text-align: right;
}



#credits {
  display: none;
  background: rgb(255, 255, 255);
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#credits-hover {
  position: absolute;
  bottom: 0px;
  right: 0px;
}


/* DESKTOP */
@media screen and (min-width: 768px) {



}
