{% load static %}
<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{% static 'transactions/css/transactions.css' %}">
<style>

  </style>
  <title> Transaction {{ transaction.id }} </title>
</head>
<body>

<div class="wrapper">
  <p> <a href= {% url 'transactions:user_logout' %} > Logout </a> </p>


<h1> TRANSACTION #{{ transaction.id }} </h1>
<p> <span> Date: </span> {{ transaction.date }} </p>
<p> <span> Item: </span> {{ transaction.item }} </p>
<p> <span> Shop: </span> {{ transaction.shop }} , {{ transaction.address }}</p>
<p> <span> Price: </span> <span>   £</span> {{ transaction.price }} </p>
{% if transaction.image %}
  <p> <span> Image: </span> <img src= " {{ transaction.image.url }} " style="width: 500px;" /> </p>
{% elif transaction.bing_image %}
  <p> <span> Image: </span> <img src = "{{ transaction.bing_image }} " style="width: 500px;" /> </p>
{% endif %}

<p> <span> Notes: </span> {{ transaction.notes }} </p>
<p> <span> Links: </span>
  {% for guiltword in transaction.guiltwords.all %}
    {% for link in guiltword.links.all %}
      <p> {{ link }} </p>
    {% endfor %}
  {% endfor %}
 </p>
{% if prev_tran %}
  <a href= "{% url 'transactions:transaction_detail' prev_tran %}"> Previous </a>
{% endif %}
{% if next_tran %}
  <a href= "{% url 'transactions:transaction_detail' next_tran %}"> Next </a>
{% endif %}

</div>
</body>
</html>
