{% load static %}
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'transactions/css/transactions.css' %}">
  <title>Login</title>
</head>
<body>
  <div class="wrapper">
  {% if logged_out %}
    <p> {{ logged_out }} </p>
  {% endif %}
  <form action= "{% url user_login %}{% if destination %}?destination={{ destination }}{% endif %}" method="POST">
    <p> <span> Username: </span> <input type="text" name="username"> <p>
    <p> <span> Password: </span> <input type="password" name="password"> <p>
    <p> <input type="submit" value="Login"> </p>
    {% csrf_token %}
  </form>
  {% if error %}
    <p> {{ error }} </p>
  {% endif %}
</div>
</body>
</html>
