<p>Look at the world
Look how it spits out its gum for you
And smiles like you’re shy<br>
One tooth at a time<br>
Look at the the world - <br>
His stiff neck wrapped in the old man’s tie<br>
Look how its rude to the service,<br>
Mean about strangers <br>
And filling the air with <br>
his pale conversation <br>
But you've been drifting apart for a long time now, <br>
haven't you<br>
Now you're one of these<br>
Modern ghosts
</p>

<p> You and the world, once a week,<br>
You check into your<br>
Hotel of grief <br>
And he watches while you cry <br>
Smiles like you're weak <br>
fucking grins when you <br>
pass the world in the street <br>
And try to make your <br>
quick arrangements to leave <br>
But he knows your secret,<br>
Your one and only weakness -<br>
That you're damned if you disagree
Yeah you're stuck,<br>
You've been trying to jump off for a long time now, haven't you?<br>
To be one of these<br>
Modern ghosts.<br>
And while you're sniffing at your sleeve<br>
With your hands round your knees<br>
And your chest making bubbly protest.<br>
He pays you no notice<br>
Just when you think, if you can't agree<br>
You can at least, <br>
Leave each other be <br>
But no such luck, <br>
You and your friends, in the street<br>
Try to talk down a racist <br>
Of true military complacence.<br>
The world just 'umms' like he agrees<br>
While he's scratching at his knees <br>
And he slides you <br>
Ten feet down in his news feed, <br>
oh that's why you're <br>
Thinking of jumping for the last time now,<br>
Aren't you<br>
To be one of these<br>
Modern Ghosts<br>
<p>

<p>
  At the office,<br>
  Begs the question<br>
  Were you always this strange?<br>
  You always take your lunch outside<br>
  Even when it’s freezing<br>
  At the office,<br>
  Forty people<br>
  You would never see again<br>
  If you had the choice<br>
  Wouldn’t be much point,<br>
  You don't see any reason. <br>
</p>
<p>
  At the office,<br>
  Like a ghost,<br>
  Were you always this strange?<br>
  Tend to keep your personal life <br>
  To a minimum.<br>
  At the office,<br>
  How's your weekend?<br>
  I bet you<br>
  Never tell the truth.<br>
  I paid my dues,<br>
  Settled up my dos,<br>
  And finally made that leap.<br>
</p>
